%html
  %head
    %title Blocipedia
    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/markdown-it/4.4.0/markdown-it.min.js"
  %body
    .container
      %ul.nav.nav-tabs
        %li= link_to "Home", root_path
        %li= link_to "About", about_path
        %li= link_to "Wikis", wikis_path
        %li= link_to "My Wikis", my_wikis_path
        - if user_signed_in?
          %li.pull-right
            = link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'navbar-link'
          %li.pull-right
            = link_to current_user.email, edit_user_registration_path, class: 'navbar-link'
        - else
          %li.pull-right
            = link_to "Sign Up", new_user_registration_path, class: 'navbar-link'
          %li.pull-right
            = link_to "Sign In", new_user_session_path, class: 'navbar-link'

      - if flash[:notice]
        .alert.alert-success
          %button.close{"data-dismiss" => "alert", :type => "button"} x
          = flash[:notice]
      - elsif flash[:alert]
        .alert.alert-warning
          %button.close{"data-dismiss" => "alert", :type => "button"} x
          = flash[:alert]
      = yield
